/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.header {
    width: 100%;
    background: #028dd8;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #028dd8;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 15px;
    background: #0288D1;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #0288D1;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #0288D1;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #0288D1;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #0288D1;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #0288D1;
}

a.article,
a.article:hover {
    background: #0288D1 !important;
    color: #fff !important;
}

.sidebar-btn{
    color: #ffffff;
    background: #0288D1;
    border-radius: 15%;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    Responsible images
----------------------------------------------------- */


#responsive {
    width: auto;
    max-width: 100%;
    height: auto;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #dddddd;
}

/*Responsibility*/
th {
    background-color: #0288d1;
    color: white;
}

.yellow-cell{
    background-color: #f6ff12;
    color: black;
    font-weight: bold;
    /*text-align: center!important;*/
}

.green-cell{
    background-color: #28a745;
    color: white;
    font-weight: bold;
    /*text-align: center!important;*/
}

.default-cell{
    /*text-align: center!important;*/
    color: blue;
}

.green-cell:hover, .default-cell:hover , .red-cell:hover{
    background-color: rgba(124, 141, 111, 0.2);
    color: #5a6268;
    /*text-align: center!important;*/

}